@{
	ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
	<input type='checkbox' data-bind="checked: hasCellphone" />
	I have a cellphone
</p>
<p>
	Your cellphone number:
	<input type='text' data-bind="value: cellphoneNumber, enable: hasCellphone" />
</p>
<script type="text/javascript">
	function viewModel() {
		var self = this;

		self.hasCellphone = ko.observable(false);
		self.cellphoneNumber = "";
	}

	ko.applyBindings(new viewModel());
</script>
​